{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.6"}
        org.clojure/data.json {:mvn/version "2.5.1"}}
 :aliases
 {:run {:main-opts ["-m" "pds.main"]}
  :repl {:extra-paths ["test"]
         :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.11"}}
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "rebel-readline.main"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "pds.test-runner"]}}}
