{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.6"}
        org.eclipse.jetty/jetty-server {:mvn/version "12.1.13"}
        org.eclipse.jetty/jetty-client {:mvn/version "12.1.13"}
        org.eclipse.jetty.websocket/jetty-websocket-jetty-server {:mvn/version "12.1.13"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        com.yubico/webauthn-server-core {:mvn/version "2.9.0"}
        ;; Pin Yubico's open dependency ranges for reproducible stable builds.
        com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.22.3"}
        com.fasterxml.jackson.dataformat/jackson-dataformat-cbor {:mvn/version "2.22.3"}
        com.fasterxml.jackson.datatype/jackson-datatype-jdk8 {:mvn/version "2.22.3"}
        com.fasterxml.jackson.datatype/jackson-datatype-jsr310 {:mvn/version "2.22.3"}
        com.google.guava/guava {:mvn/version "33.7.1-jre"}
        com.upokecenter/cbor {:mvn/version "4.5.6"}
        org.apache.httpcomponents.client5/httpclient5 {:mvn/version "5.6.4"}
        org.slf4j/slf4j-api {:mvn/version "2.0.20"}
        dnsjava/dnsjava {:mvn/version "3.6.5"}
        org.postgresql/postgresql {:mvn/version "42.7.13"}
        com.zaxxer/HikariCP {:mvn/version "7.1.0"}
        org.bouncycastle/bcprov-jdk18on {:mvn/version "1.86"}
        software.amazon.awssdk/s3 {:mvn/version "2.55.6"
                                  :exclusions [software.amazon.awssdk/apache5-client
                                               software.amazon.awssdk/apache-client
                                               software.amazon.awssdk/netty-nio-client]}
        software.amazon.awssdk/url-connection-client {:mvn/version "2.55.6"}
        redis.clients/jedis {:mvn/version "8.0.1"}}
 :aliases
 {:run {:main-opts ["-m" "pds.main"]}
  :repl {:extra-paths ["test"]
         :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.11"}}
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :main-opts ["-m" "rebel-readline.main"]}
  :integration {:extra-paths ["test" "test-integration"]
                :main-opts ["-m" "pds.test-runner" "test" "test-integration"]}
  :migrate {:main-opts ["-m" "pds.db"]}
  :test {:extra-paths ["test"]
         :main-opts ["-m" "pds.test-runner"]}}}
